.wrapper {
	--seach-button-w: 52px;

	width: 100%;
	height: var(--df-layout-header-h);
	box-shadow: 0 1px 1px rgb(0 0 0/20%);
	display: flex;
	justify-content: center;
}

.inner {
	padding: 0 24px 0 20px;
	height: 100%;
	width: var(--df-layout-w);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	min-width: 240px;
}

.action {
	display: flex;
	align-items: center;
}

.action-btn {
	font-size: 22px;
	padding: 8px;
	margin-right: 16px;
}

.user-avatar {
	width: 34px;
	border-radius: 50%;
	cursor: pointer;
}

.more-button {
	padding: 4px 12px;
	font-size: 20px;
	margin-left: 16px;
	background-color: var(--white);
}
